<div class="contents row">
  <div class="container">
    <h2>Sign up</h2>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { id: "avatar_form" }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :名前 %><br />
        <%= f.text_field :name, autofocus: true, placeholder: "名前を入力してください" %>
      </div>

      <div class="field">
        <%= f.label :自己紹介 %><br />
        <%= f.text_field :profile, placeholder: "自己紹介を入力してください" %>
      </div>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, placeholder: "メールアドレスを入力してください" %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %>文字以上)</em>
        <% end %><br/>
        <%= f.password_field :password, autocomplete: "off", placeholder: "パスワードを入力してください" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "パスワードを確認してください" %>
      </div>
     
      <div class="field">
        <%= f.label :avatar %><br />
        <%= f.file_field :avatar %>
      </div>
 <div id="avatar_previews"></div>
      <div class="actions">
        <%= f.submit "Sign up" %>
      </div>
    <% end %>
  </div>
</div>