  <div class="profile-container">
    <div class="profile-header">
      <h1><%= @user.name %></h1>
      <div class="profile-avatar">
        <%= image_tag @user.avatar_url %>
      </div>
        <h2>Profile</h2>
    </div>
    
    <div class="profile-details">
      <p><%= @user.profile %></p>
    </div>

  <div class="uploaded-images">
    <h2>Uploaded Images</h2>
    <div class="images-grid">
      <% @user.posts.each do |post| %>
        <div class="card__wrapper">
          <div class="card">
            <% if post.image.attached? %>
              <%= image_tag post.image %>
            <% end %>
            <div class="card__body">
              <h2 class="card__title"><%= post.title %></h2>
              <p class="card__summary"><%= post.description %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

 