<div class="profile-container">
  <div class="profile-header">
    <h1><%= @user.name %></h1>
    <div class="profile-avatar">
      <%= image_tag @user.avatar_url %>
    </div>
    <h2>Profile</h2>
    <% if user_signed_in? && current_user == @user %>
      <%= link_to 'Edit', edit_user_registration_path, class: 'edit-profile-link' %>
    <% end %>
  </div>
  
  <div class="profile-content">
    <div class="profile-details">
      <p><%= @user.profile %></p>
    </div>


 <div class="separator"></div>
    <div class="uploaded-images">
      <h2>Uploaded Images</h2>
      <div class="images-grid">
        <% @user.posts.each do |post| %>
          <div class="card__wrapper">
            <div class="card">
              <% if post.image.attached? %>
                <%= image_tag post.image, class: "card__img" %>
              <% end %>
              <div class="card__body">
                <h2 class= "card__title"><%= post.title %></h2>
                <p class="card__summary"><%= post.description %></p>
                <% if user_signed_in? && current_user == @user %>
                  <%= link_to 'Edit', edit_post_path(post), class: 'edit-post-link' %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- モーダルウィンドウ -->
<div id="image-modal" class="image-modal">
  <span id="close-modal" class="close-modal">&times;</span>
  <img class="modal-content" id="modal-image">
</div>

<script>
// モーダルウィンドウの初期化
document.addEventListener('turbo:load', function() {
  const modal = document.getElementById('image-modal');
  const modalImg = document.getElementById('modal-image');
  const closeModal = document.getElementById('close-modal');
  const images = document.querySelectorAll('.card__img');

  // 画像クリックでモーダル表示
  images.forEach(image => {
    image.addEventListener('click', function() {
      showModal(this.src);
    });
  });

  // モーダルを閉じる
  closeModal.onclick = function() {
    modal.style.display = "none";
  };

  // モーダルウィンドウ外をクリックしたときに閉じる
  modal.onclick = function(event) {
    if (event.target === modal) {
      modal.style.display = "none";
    }
  };

  function showModal(imageUrl) {
    modal.style.display = "block";
    modalImg.src = imageUrl;
  }
});
</script>
