<!-- Googleマップ -->
  <div class="map-container">
    <button id="show-latest-posts" class="btn btn-primary">みんなの最新の投稿</button>
    <div id="map-controls">
   <div id="map-controls">
  <button id="toggle-posts" class="btn btn-kirikae">みんなの投稿も表示</button>
</div>
    </div>
    <div id="map"></div>
  </div>
<!-- 投稿フォーム -->
<div id="form-container" style="display: none;">
     <span class="close-form">&times;</span>
  <%= form_with(model: @post, local: true, url: posts_path) do |form| %>
      <%= form.hidden_field :latitude, id: 'post_latitude' %>
      <%= form.hidden_field :longitude, id: 'post_longitude' %>

    <div class="field">
      <%= form.label :タイトル %>
      <%= form.text_field :title %>
    </div>

    <div class="field">
      <%= form.label :説明 %>
      <%= form.text_area :description %>
    </div>
   
    <div class="field">
      <%= form.label :画像 %>
      <%= form.file_field :image %>
    </div>

    <div class="actions">
      <%= form.submit 'Post' %>
    </div>
  <% end %>
</div>

<!-- カスタムインフォウィンドウ -->
 <div id="custom-infowindow" class="custom-infowindow">
    <span class="close-custom-window">&times;</span>
    <div id="custom-infowindow-content"></div>
  </div>
  <div id="image-modal" class="image-modal">
    <span id="close-modal" class="close-modal">&times;</span>
    <img class="modal-content" id="modal-image">
  </div>

<!-- 最新の投稿表示用のセクション -->
<div id="latest-posts-section">
  <h2>みんなの投稿</h2> <!-- セクションタイトルを追加 -->
  <div class="images-grid" id="latest-posts-grid"></div>
</div>

<!-- モーダルウィンドウ -->
<div id="image-modal" class="image-modal">
  <span id="close-modal" class="close-modal">&times;</span>
  <img class="modal-content" id="modal-image">
</div>