<!DOCTYPE html>
<html>
  <head>
    <title>OpenWorld</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_MAPS_API_KEY']}&callback=initMap", async: true, defer: true %>
  </head>

  <body>
     <div class="header">
      <h1><%= link_to 'Open World', root_path %></h1>
    <nav>
      <a href="#">マイページ</a>
      <a href="#">地図切り替え</a>
         <%= link_to '写真の位置情報で投稿', new_post_path %>
      <a href="#">最新の投稿</a>
       <a href="#">ログアウト</a>
    </nav>
  </div>
    <%= yield %>
  </body>
</html>
